@font-face {
    font-family: 'Guilder';
    src: local('Guilder'), url("fonts/Guilder.otf") format("opentype");
}
@font-face {
    font-family: 'Quarca';
	font-style: normal;
    font-weight: lighter;
    src: local('Quarca'), url("fonts/quarca/QuarcaNormThin.otf") format("opentype");
}
@font-face {
  font-family: 'Vertigo';
  font-style: normal;
  font-weight: normal;
  src: local('Vertigo'), url('fonts/vertigo/VertigoFLF.ttf') format('truetype');
}

body {
     padding: 0; 
     margin: 0;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-family: 'Quarca', 'Guilder';
  	background:
          radial-gradient(circle at 50% -10%, 
               rgba(249, 11, 19,.5), rgba(249, 11, 19,0) 70.71%), 
          radial-gradient(circle at -6.7% 75%, 
               rgba(72, 109, 66,0.6), rgba(72, 109, 66,0.2) 70.71%), 
          radial-gradient(circle at 93.3% 75%, 
               rgba(66, 134, 244,.7), rgba(66, 134, 244,0.3) 70.71%);
}

h2 {
    text-align: center;
    font-size: 5em;
    color: rgba(255,255,255,0.7);
    font-weight: lighter;
}

#top-header {
  position: absolute;
  bottom: 0;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  z-index: 99999;
  
background: /* newest syntax */
     radial-gradient(circle at 50% 0, 
         rgba(255,0,0,.5), rgba(255,0,0,0) 70.71%), 
     radial-gradient(circle at 6.7% 75%, 
         rgba(0,0,255,.5), rgba(0,0,255,0) 70.71%), 
     radial-gradient(circle at 93.3% 75%, 
         rgba(0,255,0,.5), rgba(0,255,0,0) 70.71%);
     -webkit-transition: all 0.3s;
     transition: all 0.3s;
}